body {
  margin: 0px;
  padding: 0px;
  background-color: white;

}


.conteudo-g {

  width: 1300px;
  height: 277px;
  background-color: #CFE0F5;
  margin: 10px;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;


}

.conteudo-p {

  width: 550px;
  height: 277px;
  background-color: #CFE0F5;
  margin: 10px;
  border-radius: 10px;

}

section {
  padding: 10px;
}

#robo {

  width: 250px;
  height: 250px;
}

.texto-intro {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(5, 52, 204);
  font-size: small;

}

.fale {

  position: relative;
  height: 100px;
  margin-top: 20px;
  border-radius: 50px;
  margin-right: 200px;

}

#maistabela {

  display: flex;
  position: absolute;
  height: 325px;
  width: 325px;
  top: 1px;
  left: 650px;

}

#loja {

  display: flex;
  left: 90px;
  position: absolute;
  height: 375px;
  width: 900px;
  top: 295px;

}

.parte2 {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(5, 52, 204);
  font-size: xx-small;
  padding-left: 20px;

}

.part2 {

  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(5, 52, 204);
  font-size: xx-small;
  padding-left: 400px;
}

#botao {
  padding: 5px;
  display: flex;
  

}
#colorir{
  padding-top: 15px;
  background: repeating-linear-gradient(45deg,
  #ffe46e,
  #ffe46e 15px,
  rgb(255, 255, 173) 15px,
  rgb(255, 255, 173) 30px
  );
}
#doc_cima{
  margin-top: 20px;
  padding: 5px;
  background-color: #d6d6d6;
}