

body{

background-color: white;


}


.conteudo-g{

width: 1300px;
height: 277px;
background-color: #CFE0F5;
margin: 10px;
border-radius: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;


}

.conteudo-p{

width: 550px;
height: 277px;
background-color: #CFE0F5;
margin: 10px;
border-radius: 10px;

}

section{


display: flex;
padding: 10px;
}

#robo{

width: 250px;
height: 250px;
}

.texto-intro{

display: flex;
flex-direction: column;
align-items: flex-start;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(5, 52, 204);
font-size: small;

}

.fale{

position: relative;
height: 100px;
margin-top: 20px;
border-radius: 50px;
margin-right: 200px;

}

#maistabela{

display: flex;
position: absolute;
height: 325px;
width: 325px;
top: 1px;
left: 750px;

}

#loja{

display: flex;
left: 140px;
position: absolute;
height: 400px;
width: 1000px;
top: 295px;

}

.parte2{

display: flex;
flex-direction: column;
align-items: flex-start;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(5, 52, 204);
font-size: xx-small;
padding-left: 20px;

}

.part2{

  display: flex;
flex-direction: column;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(5, 52, 204);
font-size: xx-small;  
padding-left: 600px;
}

.mais{

background-color: white;
color: rgb(5, 52, 204);
border-radius: 50px;
display: flex;
position: absolute;
left: 1250px;
top: 360px;

}

#processo{
  left: 70px;
  top: 700px;
  width: 1150px;
position: absolute;
display: flex;
height: 230px

}

.texto3{

  font-size: xx-small;
display: flex;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(5, 52, 204);
padding-left: 20px;

}

.imagem{
  width: 140px;
     height: 140px;
 display: flex;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    gap: 10px;
    text-align: center
    


}

#div3{
    color: black;
    background-color:#CFE0F5;
    align-items: center;
    border: 0px;
    padding: 5px;
    border-radius: 15px;
}

#lado{
    text-align: center;
    display: flex;
    gap: 40px;
    color: black;
}

#cor{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#teste1{
    color: black;
    display: flex;
    justify-content: space-between;
}

#lado2{
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 600px;
    color: black;
    margin: 15px;
    border-radius: 15px;

}



















#botao {
  padding: 5px;

}

#botaocima{
  padding: 5px
}

#colorir{
  padding-top: 15px;
  background: repeating-linear-gradient(45deg,
  #ffe46e,
  #ffe46e 15px,
  rgb(255, 255, 173) 15px,
  rgb(255, 255, 173) 30px
  );
}

#doc_cima {
  margin-top: 20px;
  padding: 5px;
  background-color: #d6d6d6;
}
#ladoalado{
  gap: 60px;
  display:flex ;
}
#tamanho{
  padding-top: 15px;
  font-size: 14px;

}
#espaco{
 background-color: #d6d6d6;
  padding: 13px;
}
#cor{
  background-color:#d6d6d6;
}
#azul{
  background-color: rgb(95, 115, 231);
}